export OPENAI_API_BASE=$Z_API_OPENAPI_BASE
export OPENAI_API_KEY=$Z_API_KEY
export ROLES_MODEL=claude-opus-4.7
export COMPONENTS_MODEL=claude-opus-4.7
export STORIES_MODEL=claude-opus-4.7
export PROJECTIONS_MODEL=claude-opus-4.7
export COMP_PROCESSES_MODEL=claude-opus-4.7
export REVIEW_COMPONENTS_MODEL=claude-opus-4.7
